@import 'alabaster.css';

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif !important;
}

h5 {
    font-weight: bold !important;
}

body {
    font-family: Georgia, serif;
}

.highlight-text pre {
    line-height: 15px;
    background-color: white;
    font-size: 0.75em;
}

.field-list li + li {
    margin-top: 1em;
}

.logo {
    margin-bottom: 2em;
}